/* 
Color palette:
https://colors.muz.li/palette/361d32/543c52/f55951/edd2cb/f1e8e6
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
  margin: 25px 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1e8e6;
  color: #361d32;
}

h1 {
  text-align: center;
}

.defaultBtn {
  background-color: #f55951;
  border: 1px solid #361d32;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  line-height: 1;
  text-transform: uppercase;
  color: #361d32;
}

.defaultBtn:hover {
  background-color: #f87771;
}

.modalWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
}

.modalWindow {
  margin: 10% auto 0;
  padding: 30px;
  background-color: #edd2cb;
  width: 300px;
  border: 3px solid #f1e8e6;
}

.modalTitle {
  text-align: center;
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: bold;
}

.modalItemTitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
}

.modalItemCounterWrap {
  margin-bottom: 25px;
}

.cartItemCounterWrap {
  margin-left: auto;
}

.counterWrap {
  display: flex;
  justify-content: center;
}

.counterValue {
  width: 60px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  line-height: 1;
  font-size: 24px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #361d32;
  background-color: #f1e8e6;
  color: #361d32;
}

.counterBtn {
  border: 1px solid #361d32;
  border-radius: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  position: relative;
}

.counterBtn:hover {
  background-color: #f1e8e6;
}

.counterBtn .horizontal,
.counterBtn .vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #361d32;
}

.counterBtn .horizontal {
  width: 10px;
  height: 2px;
}

.counterBtn .vertical {
  height: 10px;
  width: 2px;
}

.modalBtnWrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.closeBtn {
  background-color: #edd2cb;
  border: 1px solid #361d32;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #361d32;
}

.closeBtn:hover {
  background-color: #f1e8e6;
}

.contentWrap {
  display: flex;
  justify-content: center;
}

.foodCategoryWrap {
  padding-top: 25px;
}

.foodCategoryItem {
  display: flex;
  align-items: center;
  border-width: 1px 1px 0 1px;
  border-color: #543c52;
  border-style: solid;
  padding: 20px 25px;
  width: 200px;
  cursor: pointer;
  position: relative;
}

.foodCategoryItem::after {
  position: absolute;
  display: block;
  content: '';
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: #543c52;
}

.foodCategoryItem:last-child {
  border-width: 1px;
}

.foodCategoryItem.active::after,
.foodCategoryItem.active {
  background-color: #edd2cb;
}

.foodCategoryItem img {
  width: 50px;
  margin-right: 15px;
}

.foodCategoryItem span {
  font-size: 19px;
}

.foodListWrap {
  border: 1px solid #543c52;
  margin-left: -1px;
  padding: 20px 25px;
  max-width: 600px;
  width: 100%;
  background-color: #edd2cb;
}

.foodListItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 0 0 50px;
}

.foodListItem::after {
  display: block;
  position: absolute;
  content: '';
  bottom: -25px;
  width: 90%;
  height: 1px;
  background-color: #543c52;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.foodListItem:last-child {
  margin: 0;
}

.foodListItem:last-child::after {
  display: none;
}

.foodListItem img {
  width: 150px;
  margin-right: 20px;
}

.foodTitle {
  font-size: 24px;
  font-weight: bold;
}

.ingredientsList {
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  font-style: italic;
}

.addToCartBtnWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.cartWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.cartWindow {
  margin: 10% auto 0;
  padding: 30px 15px 30px 30px;
  background-color: #edd2cb;
  width: 75%;
  border: 3px solid #f1e8e6;
  max-height: 80vh;
}

.cartTitle {
  text-align: center;
  margin: 0 0 50px;
}

.cartItemsListWrap {
  overflow-y: auto;
  max-height: 50vh;
}

.cartItemsListWrap::-webkit-scrollbar {
  width: 10px;
}

.cartItemsListWrap::-webkit-scrollbar-track {
  background: transparent;
}

.cartItemsListWrap::-webkit-scrollbar-thumb {
  background: #543c52;
}

.cartItemsListWrap::-webkit-scrollbar-thumb:hover {
  background: #361d32;
}

.cartConfirmationMsgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartConfirmationMsgWrap img {
  width: 100px;
}

.cartConfirmationMsgWrap p {
  font-size: 18px;
  font-weight: bold;
}

.cartItemInfo {
  display: flex;
  align-items: center;
}

.cartItemInfo img {
  width: 70px;
  margin-right: 15px;
}

.cartItemInfo p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cartItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  padding-right: 20px;
}

.cartItemWrap::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 1px;
  background-color: #361d32;
}

.cartItemWrap:last-child::after {
  display: none;
}

.removeCartItemBtn {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  margin-left: 15px;
  cursor: pointer;
}

.removeCartItemBtn img {
  width: 32px;
}

.cartBtn {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-family: inherit;
}

.cartBtn img {
  width: 32px;
}

.cartCounter {
  position: absolute;
  font-size: 9px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55951;
  color: #fff;
  line-height: 1;
  border-radius: 50%;
  left: 3px;
  bottom: 3px;
}

.cartModalBtnWrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.ordersTableWrap {
  display: flex;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #543c52;
  background-color: #edd2cb;
}

.ordersTableColumn {
  width: 50%;
  border-right: 1px solid #543c52;
}

.ordersTableColumn:last-child {
  border: none;
}

.ordersTableTitle {
  border-bottom: 1px solid #543c52;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 10px;
  text-align: center;
  background-color: #361d32;
  color: #f1e8e6;
}

.ordersTableContent {
  padding: 15px;
}

.ordersTableContent ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ordersTableContent ul:empty {
  color: #959595;
  font-style: italic;
}

.ordersTableContent ul:empty::after {
  content: 'There are no orders';
}

.ordersTableContent li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pulse {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f55951;
  box-shadow: 0 0 0 rgba(245, 89, 81, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(245, 89, 81, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(245, 89, 81, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(245, 89, 81, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(245, 89, 81, 0.4);
    box-shadow: 0 0 0 0 rgba(245, 89, 81, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(245, 89, 81, 0);
      box-shadow: 0 0 0 10px rgba(245, 89, 81, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(245, 89, 81, 0);
      box-shadow: 0 0 0 0 rgba(245, 89, 81, 0);
  }
}